body{font-family:Arial}
.admin-body{background:#0a3d62;display:flex;justify-content:center;align-items:center;height:100vh}
.login-box{background:#fff;padding:40px;border-radius:10px;width:300px;text-align:center}
.login-box input{width:100%;padding:10px;margin:10px 0}
.login-box button{background:#0a3d62;color:#fff;border:none;padding:10px;width:100%;cursor:pointer}
.sidebar{width:220px;background:#0a3d62;height:100vh;color:#fff;padding:20px;position:fixed}
.sidebar a{color:#fff;display:block;margin:15px 0;text-decoration:none}
.admin-content{margin-left:240px;padding:40px}
